{% extends "dashboard/base.html" %}

{% block nav %}{% endblock nav %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="twelve columns">
      <h1>Login</h1>
    </div>
  </div>
</div>
<div class="container">
  <form action="{{ url_for('auth_bp.login') }}" method="POST" >
    {{ login_form.csrf_token }}
    <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
    <div class="row">
      <div class="six columns">
        {{ login_form.email.label() }}
        {{ login_form.email(class_="u-full-width") }}
      </div>
      <div class="six columns">
        {{ login_form.password.label() }}
        {{ login_form.password(class_="u-full-width") }}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <button class="button button-primary" type="submit">Login</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
