<form id="client-form" hx-post="/dashboard/clients/" hx-swap="outerHTML">
  <div class="row">
    <div class="four columns">
      {{ client_form.name.label() }}
      {% if client_form.name.errors %}
      {% else %}
        {{ client_form.name(class_="u-full-width") }}
      {% endif %}
    </div>
    <div class="four columns">
      {{ client_form.domain.label() }}
      {{ client_form.domain(class_="u-full-width") }}
    </div>
    <div class="four columns">
      {{ client_form.email.label() }}
      {{ client_form.email(class_="u-full-width") }}
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      {{ client_form.submit(class_="button button-primary", value="Create Client") }}
    </div>
  </div>
</form>

