<div>
  <form hx-post="/dashboard/invoices/" hx-swap="beforeend" hx-target="#invoices">
    <div class="row">
      <div class="six columns">
        {{ invoice_form.client_id.label() }}
        {{ invoice_form.client_id(class_="u-full-width") }}
      </div>
      <div class="six columns">
        {{ invoice_form.date_issued.label() }}
        {{ invoice_form.date_issued(class_="u-full-width") }}
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        {{ invoice_form.title.label() }}
        {{ invoice_form.title(class_="u-full-width") }}
      </div>
      <div class="six columns">
        {{ invoice_form.technology.label() }}
        {{ invoice_form.technology(class_="u-full-width") }}
      </div>
    </div>
    <div class="row">
     <div class="twelve columns">
        {{ invoice_form.summary.label() }}
        {{ invoice_form.summary(class_="u-full-width") }}
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        {{ invoice_form.duration.label() }}
        {{ invoice_form.duration(class_="u-full-width") }}
      </div>
      <div class="four columns">
        {{ invoice_form.value.label() }}
        {{ invoice_form.value(class_="u-full-width") }}
      </div>
      <div class="four columns">
        {{ invoice_form.payment_address.label() }}
        {{ invoice_form.payment_address(class_="u-full-width") }}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        {{ invoice_form.submit(class_="button button-primary") }}
      </div>
    </div>
  </form>
</div>

