<div id="invoice-{{ invoice.id }}" hx-target="this" hx-swap="outerHTML">
  <div class="row">
    <div class="nine columns">
    {{ invoice.client.name }}
    · {{ invoice.date_issued.date() }}
    · {{ invoice.title }}
    </div>
    <div class="one columns">
      <a class="button button-primary u-full-width" href="/dashboard/invoices/{{ invoice.id }}/download" target="_blank">
        <i class="fa-solid fa-download"></i>
      </a>
    </div>
    <div class="one columns">
      <button class="button button-edit u-full-width" hx-get="/dashboard/invoices/{{ invoice.id }}/edit">
        <i class="fas fa-edit"></i>
      </button>
    </div>
    <div class="one columns">
      <button class="button button-delete u-full-width" hx-delete="/dashboard/invoices/{{ invoice.id }}" hx-confirm="Are you sure you wish to delete this invoice?">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
</div>
