<!DOCTYPE html>
<html lang="en">
<head>
  <title>AJR Lewis | Dashboard</title>
  <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<body>
  {% block body %}
  {% endblock body %}
  <div class="container">
    <h1>Receipts</h1>
    {% with receipt_form=receipt_form %}
      {% include "receipt_form.html" %}
    {% endwith %}    
  </div>
  <br>
  <br>
  <div>
    <div id="new-receipt" hx-target="closest div" hx-swap="outerHTML swap:0.5s"> 
      {%for receipt in receipts%}
        {% with receipt=receipt %}
          {% include "receipt_detail.html" %}
        {% endwith %}
        <br>
        <br>
      {%endfor%}
    </div>
  </div>
</body>

</html>
