{% extends "base.html" %}

{% block content %}
<div class="overview">
  <div class="caption">
    <span>Pawsitively Local, Tail-Wagging Fun for All!</span>
  </div>
</div>
<div class="content">
  <div class="container">
    <br>
    <br>
    <h1>Bedford Bark</h1>
    <div class="row">
      <img src="/static/img/logo-bedford-bark.jpeg" alt="Bedford Bark Logo" width="250px" height="250px" style="border-radius: 20px">
      <br>
      <br>
      <p>Welcome to Bedford Bark, your one-stop-shop for all things dog-related in Bedford Park, West London! Our website is dedicated to providing you with the latest news, tips, and advice on dog care, as well as a comprehensive guide to dog-friendly places to visit and fun dog walks to enjoy with your furry friend. Whether you\'re a seasoned dog owner or just starting out, we\'ve got you covered. From dog walking services to newsletters packed with dog-related content, we\'re here to help you make the most of life with your dog. So why not take a stroll around our site and see what we have to offer?</p>
      <!-- <p>Download our newsletters</p> -->
      <!-- <p> -->
        <!-- <a class="button button-primary" href="/static/pdf/newsletter-2024-10-31.pdf" target="_blank">2024-10-31</a> -->
        <!-- <a class="button button-primary">2024-10-31</a> -->
      <!-- </p> -->
    </div>
    <br>
  </div>
</div>

<div class="services">
  <div class="caption">
    <span>Local Dog Walking Services</span>
  </div>
</div>
<div class="content">
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="six columns">
        <a href="https://www.walkieswithbrody.com/" target="_blank" >
          <img src="/static/img/logo-walkies-with-brody.png" style="width: 400px" alt="Hyperhumans Logo" class="center">
        </a>
        <br>
        <h2>Walkies with Brody</h2>
        <p>Hayley, the founder of Walkies with Brody, was inspired by her 18-year-old dog Brody to start a dog training and walking business. The business offers bespoke services, including 1-2-1 walks, training walks, slow walks for senior dogs, boarding, and pet sitting, with a team of experienced and caring trainers/walkers.</p>
        <p><a class="button button-primary" href="mailto:info@walkieswithbrody.com">info@walkieswithbrody.com</a></p>
      </div>
      <div class="six columns profile">
        <a href="https://w4lkies.com" target="_blank">
          <img src="/static/img/logo-w4lkies.png" alt="W4lkies Logo" class="center">
        </a>
        <br>
        <h2>W4lkies</h2>
        <p>Sophia, owner of W4lkies, a dog walking business in Chiswick, London, offers professional dog walking services with a focus on safety and enjoyment for dogs, and is fully insured for clients' peace of mind.</p>
        <p><a class="button button-primary" href="mailto:hello@w4lkies.com">hello@w4lkies.com</a></p>
      </div>
    </div>
    <br>
  </div>
</div>

<!-- <div class="clients">
  <div class="caption">
  <span>Dog Friendly </span>
</div>
</div>
<div class="content">
  <div class="container" id="clients">
    <br>
    <br>
    <br>
  </div>
</div> -->

<div class="contact">
  <!-- <div class="caption"> -->
    <!-- <span>Get in touch</span> -->
  <!-- </div> -->
</div>
<div class="content">
  <footer class="container">
    <br>
    <br>
    <div class="row">
      <div class="six columns">
        <h2>Contact</h2>
        <p>E-mail: <a href="mailto:hello@bedfordbark.com?subject=Hello!">hello@bedfordbark.com</a></p>
      </div> 
      <div class="six columns" style="word-wrap: break-word;">
        <h2>Social</h2>
        <p>Nostr: Coming soon™</p>
        <!-- <p>Github: <a href="https://github.com/bedford_bark" target="_blank">bedford_bark</a></p> -->
      </div> 
    </div>
    <br>
    <br>
    <br>
  </footer>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
