:root {
  --color-black: #181818;
  --color-black:#c48c64;
/*  --color-black: #8a9c50;*/
  --color-black: #867e73;
/*  --color-black: #756850;*/

  --color-white: #fff;
  --black-color:;
  --white-color:;

  --primary-color: "";
  --secondary-color: "";
}